
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.f18{  font-size: 18px !important;  }
.f20{  font-size: 20px !important;  }
.f22{  font-size: 22px !important;  }
.f24{  font-size: 24px !important;  }
.f26{  font-size: 26px !important;  }
.f28{  font-size: 28px !important;  }
.f30{  font-size: 30px !important;  }
.f32{  font-size: 32px !important;  }
.f34{  font-size: 34px !important;  }
.f36{  font-size: 36px !important;  }
.f38{  font-size: 38px !important;  }
